{% extends 'base.html' %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success alert-dismissible">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  <strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="panel panel-default" style="margin: 44px 0px 11px 0px;">
		<div class="panel-heading"><h2>{{ item.title | firstUpper }}</h2></div>
		<div class="panel-body">{{ item.description }}</div>
    </div>
	{% if session['username'] %}
		<a href="{{ url_for("editItem", category=item.category.title, item=item.title) }}" class="btn btn-info" role="button">Edit</a>
		<a href="{{ url_for("deleteItem", category=item.category.title, item=item.title) }}" class="btn btn-info" role="button">Delete</a>
	{% endif %}
{% endblock %}