{% extends 'base.html' %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-info alert-dismissible">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  <strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form action="" method="post" style="max-width:300px">
	    <div class="form-group">
	      <label for="title">Title:</label>
	      <input type="text" class="form-control" id="title" placeholder="" name="title" required>
		  <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="" name="description">
		  <label for="sel1">Select one Category:</label>
		  <select class="form-control" id="sel1" name="category">
		  {% for category in categories %}
			<option>{{ category.title }}</option>
		  {% endfor %}
		  </select>
	    </div>
		<button type="submit" class="btn btn-default">Create</button>
	</form>
{% endblock %}
